.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-title {
    text-align: center;
}

.app-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grid-logo {
    width: 40%;
}

.card-head-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-status-news {
    width: 10%;
    min-width: 120px;
    margin: 5px;
    height: 30px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color: var(--dark-space);
    cursor: pointer;
    text-align: center;
}

.button-public {
    background-color: var(--light-green);
}

.button-private {
    background-color: var(--light-yellow);
}

.news-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
}

.news-card > * {
    margin: 0px 5px 0px 5px;
}

.news-card > span {
    min-width: fit-content;
}

.news-logo {
    width: 10%;
    min-width: 100px;
}

.news-card-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-end;
}

.news-button {
    width: 10%;
    min-width: 120px;
    margin: 5px;
    height: 30px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color: var(--dark-space);
    cursor: pointer;
    text-align: center;
}

.news-button-question {
    background-color: var(--light-green);
}

.news-button-edit {
    background-color: var(--light-yellow);
}

.news-button-delete {
    background-color: var(--light-red);
}