:root {
    --dark-space: #182030;
    --sky-blue: #90d5ff;
    --light-yellow: #fff18d;
    --light-gray: #f0f0f0;
    --ligth-green: #e2ffe2;
}

body {
    margin: 0;
}

.center-gray-block {
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 20px;
    margin: auto;
}

.h60 {
    height: 60%;
}

.h50 {
    height: 50%;
}

.h40 {
    height: 40%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}
