.logStatus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.log-icon {
    width: 30px;
}

.log-text {
    font-size: medium;
    margin-right: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.login-title {
    text-align: center;
}

.form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    height: 40px;
    border-radius: 10px;
}

.form-input-text {
    margin-bottom: 30px;
    max-width: 400px;
    min-width: 200px;
}

.form-input-submit {
    width: 100px;
    align-self: flex-end;
    background-color: var(--sky-blue);
}
